

h1 {
  margin-left: auto;
  margin-right: auto;
  width:fit-content;
  color: black;
  background:#8d6e63;
  border: 10px solid #3e2723;
  border-radius: 20%;
}

nav ul li {
  
  
  display: inline-block;
  margin-right: .5em;
  
}
  
.home {
  color: balck;
  background:#8d6e63;
  display: flex
}

html body {
  background-image: url('https://images.creativemarket.com/0.1.0/ps/4339803/1820/1214/m1/fpnw/wm0/101-.jpg?1524463034&s=d1c2e4ddae34d9ab972c48b9c51bca19');
  background-color: black;
  height: 1200px;
  background-position: center;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  position: relative;
}

.userProject {
  width: fit-content;
  border: 10px solid #3e2723;
  border-radius: 20%;
  padding: 100px;
  background:#8d6e63;
  background-clip: padding-box;
}

.userImage {
  border: 10px solid #3e2723;
  border-radius: 20%;
  height: 500px;
  width: 500px;
}

.profileDisplay {
  width: fit-content;
  border: 10px solid #3e2723;
  border-radius: 20%;
  padding: 100px;
  background:#8d6e63;
  background-clip: padding-box;
}

.projectForm {
  width: fit-content;
  border: 10px solid #3e2723;
  border-radius: 20%;
  padding: 100px;
  background:#8d6e63;
  background-clip: padding-box;
}

.signUp {
  width: fit-content;
  border: 10px solid #3e2723;
  border-radius: 20%;
  padding: 100px;
  background:#8d6e63;
  background-clip: padding-box;
}

.logIn {
  width: fit-content;
  border: 10px solid #3e2723;
  border-radius: 20%;
  padding: 100px;
  background:#8d6e63;
  background-clip: padding-box;
}