h1 {
  display: flex;
  justify-content: center;
  color: chartreuse;
}

nav ul li {
  
  display: flex;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  margin-right: .5em;
  background-color: rgba(246, 243, 243, 0.596);
}
  
.home {
  color: balck;
  background-color: rgba(206, 192, 192, 0.596);
  display: flex
}

html body {
  background-image: url("https://wallpaperaccess.com/full/3165466.jpg");
  background-color: #cccccc;
  height: 1500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
 
}



.userProject {
  background-color: grey;
  width: 300px;
  border: 10px solid black;
  padding: 15px;
  background: rgb(117, 102, 102);
  background-clip: padding-box;
}

.userImage {
  border: 10px solid white;
  border-radius: 20%;
  border-
  height: 300px;
  width: 300px;
  opacity: .9;

}

