
    <h1>All of your projects</h1>

    <% for (let i = 0; i < projectsArr.length; i++){%>
        <div class='userProject'>
             <img class='userImage' src="<%= projectsArr[i].profilePic%> ">
             <p class='userTitle'><a href="/projects/<%=projectsArr[i].id%>"><%=projectsArr[i].title %></a></p> 
             <p class='userDescription'><%= projectsArr[i].description %></p>
        </div>
    <%}%>






