
    <h2>List of Projects</h2>
    
    <% for (let i = 0; i < projectsArr.length; i++){%>
        
        <% let projectItem = projectsArr[i].get() %>
        <img src="<%= projectItem.profilePic %>"> 
        <p><%= projectItem.id %></p>
        <p><%= projectItem.title %></p>
        <p><%= projectItem.description %> </p>
        

    <%}%>






