<h1>This is the page where all the users projects will be posted</h1>

<img src="<%= user.profilePic %>" alt="profile pic">
<p>title: <%= project.title %></p>
<p>description: <%= project.description %></p>
