<h1>New Post here</h1>

<form action="/projects/new" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="inputFile">Image</label>
        <input type="file" name="inputFile">
    
    </div>
   
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>
  
    <div class="form-group">
      <label for="description">Description</label>
      <textarea type="text" class="form-control" id="description" name="description" required></textarea>
    </div>
  
 
  
    <button type="submit" class="btn btn-primary">Upload Project</button>
  </form>