<h2>Project you selected</h2>

<div class='userProject'>
    <img class='userImage' src="<%= project.profilePic%> ">
    <p class='userTitle'><%=project.title %></p> 
    <p class='userDescription'><%= project.description %></p>
    
    <form action="/projects/<%=project.id%>?_method=DELETE" method="POST">
       <button type="submit">Delete Project</button>
   </form>
</div>