<h1>Results</h1>

<% trees.forEach(function(tree, idx) { %>
    <div class="well">
        <h2>
            <a href="/plants/<%=plant.trefleID %>">
                <%= plants.Species %>
            </a>
        </h2>
    </div>
<% }); %>